# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac/Linux system files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/

# Ruff cache
.ruff_cache/

# Black cache
.cache/
